<h1>Write Your Review Here</h1>

<form class="" action="/reviews" method="post">
    <label for="">Title</label>
    <input type="text" name="title" value="">
    <label for="">Image Url</label>
    <input type="text" name="image_url" value="">
    <label for="">Description</label>
    <input type="text" name="description" value="">
    <input type="submit" name="" value="Create A Review">
</form>