<h1>Log In</h1>
<form class="" action="/login" method="post"> #this is our form we send back our data /login is the mailing address 
<label for="email">Email:</label>
<input type="text" name="email" id="email" value="">
<label for="password">password:</label>
<input type="text" name="password" id="email" value="">
<input type="submit" name="" value="Log In">
</form> 
